{% extends 'base.html' %}

{% block title %}Log-In{% endblock %}

{% block content %}
    <h1>Log-In</h1>
    <p>If you don`t have an account <a href="{% url 'account:register' %}">Register here</a></p>

    {% if form.errors %}
        <p>your username and password  didn`t match please try again</p>
    {% else %}
        <p>Please, use the following form to log-in</p>
    {% endif %}

    <div class="login-form">
        <form action="{% url 'account:login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="log-in">
        </form>
        <p><a href="{% url 'account:password_reset' %}">Forgotten Your Password</a></p>
    </div>
{% endblock %}