{% extends 'base.html' %}
{% block title %}Reset Your Password{% endblock %}

{% block content %}
    <h1>Reset You Password</h1>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Change the password">
        </form>
    {% else %}
        <p>the password reset link was invalid, Please request a new password reset.</p>
    {% endif %}
{% endblock %}