{% extends 'base.html' %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
    <h1>{{ image.title }}</h1>

    {% load thumbnail %}
    <a href="{{ image.image.url }}">
        <img src="{% thumbnail image.image 300x0 %}" class="image-detail">
    </a>

    {% with total_likes=image.users_like.count %}
        <div class="image-info">
            <span class="count">
                {{ total_likes }} Like{{ total_likes|pluralize }}
            </span>
            {{ image.description|linebreaks }}
        </div>

        <div class="image-likes">
            {% for user in image.users_like.all %}
                <div>
                    <img src="{{ user.profile.photo.url }}">
                    {{ user.first_name }}
                </div>
            {% empty %}
                No one like this image yet
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}