{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>

    {% with total_images=request.user.images_created %}
        <p>
            Welcome to your Dashboard you have shared {{ total_images }}
            image{{ total_images|pluralize }}
        </p>
    {% endwith %}

    <p>
        Drag the following button to your bookmark toolbar to share images form other websites <br><br>
        <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">
            Share it!
        </a>
    </p>

    <p>
        You can also <a href="{% url 'account:edit' %}">Edit your profile</a> ,
        or <a href="{% url 'account:password_change' %}">Change your password</a>
    </p>

    <h2>What is happening??</h2>
    <div class="action-list">
        {% for action in actions %}
            {% include 'actions/action/detail.html' %}
        {% endfor %}
    </div>

{% endblock %}
